<%- include("includes/head") %> <%- include("includes/nav") %>

<div class="container" style="width: 100vw;">
  <div class="row justify-content-center">
    <div
      class="col-lg-8 mt-3 d-flex flex-column justify-content-center align-items-center"
    >
      <h1 class="text-center">Criar conta ou Entrar</h1>
      <p class="text-center lead">Faça seu login ou crie sua conta abaixo</p>

      <div
        class="row mt-5 d-flex flex-row justify-content-center align-items-center gx-5"
      >
        <div class="col-lg-6 mb-4 text-left">
          <h4 class="text-nowrap">Faça seu cadastro</h4>
          <p>Se voce nao tem conta, preencha o formulario abaixo:</p>

          <form action="/login/register" method="POST" class="d-flex flex-column justify-content-center mt-5">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="mb-3 d-flex flex-column justify-content-start align-items-start">
              <label for="exampleInputEmail1" class="form-label text-left"
                >Seu e-mail</label
              >
              <input
                type="email"
                class="form-control"
                name="email"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3 d-flex flex-column justify-content-start align-items-start">
              <label for="exampleInputEmail1" class="form-label text-left"
                >Sua senha</label
              >
              <input
                type="password"
                class="form-control"
                name="password"
                aria-describedby="emailHelp"
              />
            </div>
            <button type="submit" class="btn btn-primary">Criar minha conta</button>
          </form>
        </div>
        <div class="col-lg-6 mb-4 text-left">
          <h4>Facao seu login</h4>
          <p>Se voce ja tem uma conta, fazca login abaixo:</p>

          <form action="/login/login" method="POST" class="d-flex flex-column justify-content-center mt-5">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="mb-3 d-flex flex-column justify-content-start align-items-start">
              <label for="exampleInputEmail1" class="form-label text-left"
                >Seu e-mail</label
              >
              <input
                type="email"
                class="form-control"
                name="email"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3 d-flex flex-column justify-content-start align-items-start">
              <label for="exampleInputEmail1" class="form-label text-left"
                >Sua senha</label
              >
              <input
                type="password"
                class="form-control"
                name="password"
                aria-describedby="emailHelp"
              />
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("includes/footer") %>
